- name: copy mongodb yum repo file
  ansible.builtin.template:
    src: mongo.repo.j2
    dest: /etc/yum.repos.d/mongo.repo
- name: install mondb-org package
  ansible.builtin.package:
    name: mongodb-org
    state: present
- name: allow remote connections
  ansible.builtin.replace:
    path: /etc/mongod.conf
    regexp: '127.0.0.1'
    replace: '0.0.0.0'
- name: start and enable mondb-org
  ansible.builtin.service:
    name: mongod
    state: started
    enabled: yes